<% @page_title = "Account Settings" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to_back fallback_path: root_path %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end">
    <%= link_to workflows_path, class: "btn flex-item-justify-end" do %>
      <%= icon_tag "bolt" %>
      <span class="for-screen-reader">Workflows</span>
    <% end %>
  </div>
<% end %>

<section class="settings">
  <%= render "accounts/settings/users", users: @users %>
  <%= render "accounts/settings/entropy_configuration", account: @account %>
</section>
