<% @page_title = @bucket.name %>

<% content_for :header do %>
  <nav>
    <%= link_to buckets_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "grid.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Buckets</span>
    <% end %>

    <header class="txt-align-center">
      <h1 class="txt-large">
        <div class="filter" data-controller="dialog" data-action="keydown.esc->dialog#close">
          <button class="btn btn--plain filter__button"
              data-action="click->dialog#toggle"
              data-dialog-modal-value="true">Most active</button>
          <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
            <menu class="filter__menu flex flex-column gap-half unpad margin-none txt-medium">
              <li><button class="btn btn--plain filter__button">Most active</button></li>
              <li><button class="btn btn--plain filter__button">Most discussed</button></li>
              <li><button class="btn btn--plain filter__button">Most boosted</button></li>
              <li><button class="btn btn--plain filter__button">Newest</button></li>
              <li><button class="btn btn--plain filter__button">Oldest</button></li>
              <li><button class="btn btn--plain filter__button">Popped</button></li>
            </menu>
          </dialog>
        </div>
        in
        <div class="filter" data-controller="dialog" data-action="keydown.esc->dialog#close">
          <button class="btn btn--plain filter__button"
              data-action="click->dialog#toggle"
              data-dialog-modal-value="true"><%= @bucket.name %></button>
          <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
            <menu class="filter__menu flex flex-column gap-half unpad margin-none txt-medium">
              <% Bucket.all.each do |bucket| %>
                <li><button class="btn btn--plain filter__button"><%= bucket.name %></button></li>
              <% end %>
            </menu>
          </dialog>
        </div>
      </h1>

      <h2 class="txt-medium txt-normal margin-none flex align-center gap-half">
        <% if @tag %>
          Tagged

          <div class="filter" data-controller="dialog" data-action="keydown.esc->dialog#close">
            <button class="btn btn--plain filter__button"
                data-action="click->dialog#toggle"
                data-dialog-modal-value="true"><%= @tag.title %></button>
            <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
              <menu class="filter__menu flex flex-column gap-half unpad margin-none txt-medium">
                <% Tag.all.each do |tag| %>
                  <li><button class="btn btn--plain filter__button"><%= tag.title %></button></li>
                <% end %>
              </menu>
            </dialog>
          </div>

          <%= link_to bucket_bubbles_path(@bucket), class: "btn", style: "font-size: 0.4em;" do %>
            <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Clear</span>
          <% end %>
        <% else %>
          with

          <div class="filter" data-controller="dialog" data-action="keydown.esc->dialog#close">
            <button class="btn btn--plain filter__button"
                data-action="click->dialog#toggle"
                data-dialog-modal-value="true">any tag</button>
            <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
              <menu class="filter__menu flex flex-column gap-half unpad margin-none txt-medium">
                <% Tag.all.each do |tag| %>
                  <li><button class="btn btn--plain filter__button"><%= tag.title %></button></li>
                <% end %>
              </menu>
            </dialog>
          </div>
        <% end %>
        and
        <div class="filter" data-controller="dialog" data-action="keydown.esc->dialog#close">
          <button class="btn btn--plain filter__button"
              data-action="click->dialog#toggle"
              data-dialog-modal-value="true">assigned to anyone</button>
          <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
            <menu class="filter__menu flex flex-column gap-half unpad margin-none txt-medium">
              <% User.all.each do |user| %>
                <li><button class="btn btn--plain filter__button"><%= user.name %></button></li>
              <% end %>
            </menu>
          </dialog>
        </div>
      </h2>
    </header>

    <%= button_to bucket_bubbles_path(@bucket), method: :post, params: { bubble: { title: "Untitled"} }, class: "btn btn--plain", form_class: "flex-item-justify-end" do %>
      <%= image_tag "bubble-add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Create a new bubble</span>
    <% end %>
  </nav>
<% end %>

<section class="windshield flex-inline flex-wrap gap justify-center align-end" style="view-transition-name: windshield_<%= @bucket.id %>">
  <%= render @most_active_bubbles %>
</section>

<section class="bubbles-list unpad-inline center margin-block-start">
  <ul class="unpad margin-none flex flex-column txt-align-start center">
    <%= render partial: "bubbles/list/bubble", collection: @bubbles %>
  </ul>
</section>
