<div class="display-contents" id="<%= dom_id(card, :card_closure_toggle) %>">
  <% if card.closed? %>
    <div class="card-perma__closure-message flex gap-half justify-center">
      <span><%= (t("cards.container.completed_by", name: card.closed_by.name) + local_datetime_tag(card.closed_at, style: :shortdate).to_s + ".").html_safe %></span>
      <%= button_to card_closure_path(card), method: :delete, class: "btn btn--plain borderless fill-transparent" do %>
        <span class="pad-inline-end"><%= t("cards.container.undo") %></span>
      <% end %>
    </div>
  <% else %>
    <div class="card-perma__notch card-perma__notch--bottom">
      <%= render "cards/container/closure_buttons", card: card %>
    </div>
    <% if card.entropic? && card.open? && !card.postponed? %>
      <div class="card-perma__closure-message" id="<%= dom_id(card, :closure_notice) %>">
        <%= (t("cards.container.moves_to_not_now_prefix") + local_datetime_tag(card.entropy.auto_clean_at, style: :indays).to_s + t("cards.container.moves_to_not_now_suffix")).html_safe %>
      </div>
    <% end %>
  <% end %>
</div>
