<section id="closed-cards" class="cards cards--closed is-collapsed" style="--card-color: var(--color-card-complete);"
  data-collapsible-columns-target="column"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
>

  <div class="cards__transition-container">
    <header class="cards__header">
      <%= render "boards/show/expander", title: t("columns.done"), count: board.cards.closed.count, column_id: "closed-cards" %>

      <%= link_to public_board_columns_closed_url(board.publication.key), class: "cards__maximize-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
        <%= icon_tag "grid", class: "translucent" %>
        <span class="for-screen-reader"><%= t("columns.maximize_column") %></span>
      <% end %>
    </header>

    <%= column_frame_tag :closed_column, src: public_board_columns_closed_path(board.publication.key) %>
  </div>
</section>
