<section id="<%= dom_id(column) %>"
  class="cards cards--doing is-collapsed" style="--card-color: <%= column.color %>;"
  data-collapsible-columns-target="column"
  data-controller="clicker"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
>
  <div class="cards__transition-container">
    <header class="cards__header">
      <%= render "boards/show/expander", title: column.name, count: column.cards.active.count, column_id: dom_id(column) %>

      <%= link_to public_board_column_url(column.board.publication.key, column), class: "cards__maximize-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
        <%= icon_tag "grid", class: "translucent" %>
        <span class="for-screen-reader"><%= t("columns.maximize_column") %></span>
      <% end %>
    </header>

    <%= column_frame_tag dom_id(column, :cards), src: public_board_column_path(column.board.publication.key, column) %>
  </div>
</section>
