<section class="settings__section">
  <header>
    <h2 class="divider"><%= t("users.data_export.title") %></h2>
    <div><%= t("users.data_export.description") %></div>
  </header>

  <div data-controller="dialog" data-dialog-modal-value="true" data-action="keydown.esc->dialog#close">
    <button type="button" class="btn" data-action="dialog#open"><%= t("users.data_export.begin_export") %></button>

    <dialog class="dialog panel panel--wide shadow" data-dialog-target="dialog" style="--panel-size: 48ch;">
      <h2 class="txt-large"><%= t("users.data_export.dialog_title") %></h2>
      <p><%= t("users.data_export.dialog_description") %></p>
      <p><%= t("users.data_export.dialog_email") %></p>

      <div class="flex gap justify-center">
        <%= button_to t("users.data_export.start_export"), user_data_exports_path(@user), method: :post, class: "btn btn--link", form: { data: { action: "submit->dialog#close" } } %>
        <button type="button" class="btn" data-action="dialog#close"><%= t("users.data_export.cancel") %></button>
      </div>
    </dialog>
  </div>
</section>
