<section class="settings__section">
  <header>
    <h2 class="divider"><%= t("users.appearance_heading") %></h2>
  </header>

  <div class="theme-switcher flex gap max-width justify-center txt-small margin-block-start-half">
    <label class="btn theme-switcher__btn">
      <%= icon_tag "sun" %>
      <span class="overflow-ellipsis"><%= t("users.theme_always_light") %></span>
      <input type="radio" name="theme" data-action="click->theme#setLight" data-theme-target="lightButton">
    </label>

    <label class="btn theme-switcher__btn" >
      <%= icon_tag "moon" %>
      <span class="overflow-ellipsis"><%= t("users.theme_always_dark") %></span>
      <input type="radio" name="theme" data-action="click->theme#setDark" data-theme-target="darkButton">
    </label>

    <label class="btn theme-switcher__btn">
      <%= icon_tag "monitor" %>
      <span class="overflow-ellipsis"><%= t("users.theme_same_as_os") %></span>
      <input type="radio" name="theme" data-action="click->theme#setAuto" data-theme-target="autoButton">
    </label>
  </div>
</section>
