<li class="list-style-none margin-none flex align-center gap full-width">
  <%= link_to webhook, class: "txt-ink flex gap-half align-center min-width txt-medium" do %>
    <strong class="overflow-ellipsis"><%= webhook.name %></strong>
  <% end %>

  <hr class="separator--horizontal flex-item-grow" style="--border-color: var(--color-ink-medium); --border-style: dashed" aria-hidden="true">

  <%= button_to webhook, method: :delete, class: "btn btn--circle btn--negative txt-xx-small flex-item-no-shrink",
        data: { turbo_confirm: t("webhooks.webhook.remove_confirm") } do %>
    <%= icon_tag "minus" %>
    <span class="for-screen-reader"><%= t("webhooks.webhook.remove", name: webhook.name) %></span>
  <% end %>
</li>
