<%# FIXME: Let's move this aside outside of the card container section so these frames don't reload/flicker when card is replaced %>
<div class="card-perma__actions card-perma__actions--right">
  <%= turbo_frame_tag card, :watch, src: card_watch_path(card), target: "_top", refresh: :morph do %>
    <%= button_to card_watch_path(card), class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "bell-off" %> <span class="for-screen-reader"><%= t("cards.watch_this_sr") %></span>
    <% end %>
  <% end %>
  <%= turbo_frame_tag card, :pin, src: card_pin_path(card), refresh: :morph do %>
    <%= button_to card_pin_path(card), class: "btn", data: { controller: "tooltip" } do %>
      <%= icon_tag "unpinned" %> <span class="for-screen-reader"><%= t("cards.pin_this_card_sr") %></span>
    <% end %>
  <% end %>
</div>

<%= render "cards/container/closure", card: card %>
