<div class="panel margin-block-double center shadow">
  <h1 class="font-black txt-x-large margin-none-block-end"><%= t("notifications.unsubscribes.show.title") %></h1>
  <p class="margin-block-start-half"><%= t("notifications.unsubscribes.show.thanks_html", name: @user.first_name, link: link_to(t("notifications.unsubscribes.show.notification_settings_link"), notifications_settings_path)).html_safe %></p>

  <%= link_to root_path, class: "btn btn--link margin-block-start" do %>
    <%= icon_tag "arrow-left" %>
    <span><%= t("notifications.unsubscribes.show.back_to_fizzy") %></span>
  <% end %>
</div>
