<% if @export.present? %>
  <% @page_title = t("account.exports.show.page_title_ready") %>
<% else %>
  <% @page_title = t("account.exports.show.page_title_expired") %>
<% end %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to t("account.exports.show.back_to"), account_settings_path, "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>
<% end %>

<div class="panel panel--wide shadow center flex flex-column align-center gap">
  <h2 class="txt-large font-weight-black margin-none"><%= @page_title %></h2>

  <% if @export.present? %>
    <div><%= t("account.exports.show.ready_message") %></div>

    <%= link_to t("account.exports.show.download_link"), rails_blob_path(@export.file, disposition: "attachment"),
          id: "download-link",
          class: "btn btn--link",
          data: { turbo: false, controller: "auto-click" } %>
  <% else %>
    <div><%= t("account.exports.show.expired_message", link: link_to(t("account.exports.show.request_new_export"), account_settings_path, class: "txt-link")).html_safe %></div>
  <% end %>

</div>
