<% if card.image.present? %>
  <div class="card__background">
    <%= image_tag card.image.presence || "", size: 120, data: { upload_preview_target: "image" } %>
    <%= render "layouts/lightbox" do %>
      <% if card.image.attached? %>
        <%= button_to card_image_path(card), method: :delete, class: "btn" do %>
          <%= icon_tag "trash" %>
          <span class="for-screen-reader">Clear background image</span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= yield %>
<% end %>

<% if card.closed? %>
  <div class="card__closed">
    <span class="card__closed-title" data-text="<%= card.closure.reason %>"><%= card.closure.reason %></span>
    <strong class="card__closed-date"><%= card.closed_at.strftime("%b %d, %Y") %></strong>
    <span class="card__closed-by-line">by <span class="card__closed-by"><%= card.closed_by.familiar_name %></span></span>
  </div>
<% end %>
