<%= collapsible_nav_section t("my.menus.custom_views"), id: "my-filters" do %>
  <%= form_with url: cards_path, method: :get, data: { controller: "form" } do |form| %>
    <li class="popup__item overflow-ellipsis" data-navigable-list-target="item" data-filter-target="item" id="filter-custom-create">
      <%= icon_tag "bookmark", class: "popup__icon" %>
      <%= link_to cards_path(expand_all: true), class: "popup__btn btn" do %>
        <span><%= t("my.menus.create_custom_view") %></span>
      <% end %>
    </li>

    <% filters.each do |filter| %>
      <%= my_menu_filter_item(filter) %>
    <% end %>
  <% end %>
<% end %>
