<div class="flex gap">
  <%= jump_field_tag %>

  <button class="nav__close btn borderless txt-small" data-action="dialog#close">
    <%= icon_tag "close" %>
    <span class="for-screen-reader">Close menu</span>
  </button>
</div>

<div class="nav__hotkeys margin-block-end-half" role="list">
  <%= filter_hotkey_link "Home", root_path, 1, "home" %>
  <%= filter_hotkey_link "Assigned to me", cards_path(assignee_ids: [Current.user.id]), 2, "clipboard" %>
  <%= filter_hotkey_link "Added by me", cards_path(creator_ids: [Current.user.id]), 3, "person-add" %>
  <%= filter_hotkey_link "Notifications", notifications_path, 4, "bell" %>
  <%= filter_hotkey_link "My Profile", user_path(Current.user), 5, "person" %>
  <%= filter_hotkey_link "Settings", account_settings_path, 6, "settings" %>
</div>
