<%= form_tag commands_path,
      id: "commands_form",
      class: [ "flex align-center gap-half" ],
      data: {
        controller: "form",
        terminal_target: "form",
        action: "
            keydown.enter->terminal#submitCommand
            keydown.up->toggle-class#add:prevent
            keydown.up->navigable-list#selectCurrentOrReset:stop
            terminal#hideError
            turbo:submit-start->terminal#commandSubmitted
            turbo:submit-end->terminal#focus
            keydown.meta+k@document->terminal#focus:prevent
            keydown.ctrl+k@document->terminal#focus:prevent
            keydown.enter->terminal#executeCommand
            keydown.esc->terminal#hideMenus
            turbo:submit-end->terminal#handleCommandResponse
        "
      } do %>
  <label class="terminal__label txt-nowrap" for="fizzy_do">Fizzy do &gt;</label>

  <%= rich_textarea_tag "command", nil,
        toolbar: false,
        class: "terminal__input input fill-transparent unpad",
        "single-line": true,
        data: {
          terminal_target: "input"
        },
        placeholder: platform.desktop? ? "Press #{ hotkey_label(["ctrl", "K"]) } to search or type /commands…" : "Search or type /commands…",
        spellcheck: "false" do %>
    <%= global_mentions_prompt %>
    <%= tags_prompt %>
    <%= commands_prompt %>
  <% end %>

  <%=  hidden_field_tag "confirmed", nil, data: { terminal_target: "confirmation" } %>
<% end %>
