<!DOCTYPE html>
<html>
  <head>
    <title>Fizzy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <meta name="color-scheme" content="light dark">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="header">
      <%= yield :header %>
    </header>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>
    </footer>
  </body>
</html>
